
.topBox {
    background-color: lightgrey;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;

   
}

.littleBlue {
    background-color: blue;
    height: 75px;
    width: 75px;
    
}

p {
    text-align: left;
    margin:50px
}

.blue, .teal, .green, .yellow {
    background-color: blue;
    width: 100%;
    height: 250px;
    right:0%
}
.teal {
    background-color: teal;
    
}

.green {
    background-color: yellowgreen;
}

.yellow {
    background-color: yellow;
}

.questions {
    font-size: 150%;
     display: inline-block;
     width: 40px;
     height: 40px;
     border-radius: 100%;
     color: white;
     background-color: black;
   display:flex;
   justify-content: space-between;
     border: solid black;
   align-items:center;
   position:fixed;
   bottom:0px;
   right:0%;
   margin-right: 10px;
 
   
 }
 
 .question-text {
    display:flex;
   align-items:center;
   margin-left:35%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }